<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superkin.tcams.member.mapper.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.superkin.tcams.member.pojo.Member" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="college" property="college" jdbcType="VARCHAR" />
    <result column="academy" property="academy" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="joinTime" property="jointime" jdbcType="DATE" />
    <result column="position_fk" property="positionFk" jdbcType="INTEGER" />
    <result column="dept_fk" property="deptFk" jdbcType="INTEGER" />
    <result column="passward" property="passward" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <association property="position" column="position_fk" javaType="com.superkin.tcams.member.pojo.Position" select="com.superkin.tcams.member.mapper.PositionMapper.selectByPrimaryKey"></association>
    <collection property="memberRoleList" column="id" ofType="com.superkin.tcams.member.pojo.MemberRole" select="com.superkin.tcams.member.mapper.MemberRoleMapper.selectByMemberfk"></collection>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, sex, telephone, college, academy, major, grade, joinTime, position_fk, 
    dept_fk, passward, username, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.superkin.tcams.member.pojo.MemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.superkin.tcams.member.pojo.MemberExample" >
    delete from member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.superkin.tcams.member.pojo.Member" >
    insert into member (id, name, sex, 
      telephone, college, academy, 
      major, grade, joinTime, 
      position_fk, dept_fk, passward, 
      username, remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, #{academy,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{jointime,jdbcType=DATE}, 
      #{positionFk,jdbcType=INTEGER}, #{deptFk,jdbcType=INTEGER}, #{passward,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.superkin.tcams.member.pojo.Member" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="college != null" >
        college,
      </if>
      <if test="academy != null" >
        academy,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="jointime != null" >
        joinTime,
      </if>
      <if test="positionFk != null" >
        position_fk,
      </if>
      <if test="deptFk != null" >
        dept_fk,
      </if>
      <if test="passward != null" >
        passward,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="college != null" >
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="academy != null" >
        #{academy,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="jointime != null" >
        #{jointime,jdbcType=DATE},
      </if>
      <if test="positionFk != null" >
        #{positionFk,jdbcType=INTEGER},
      </if>
      <if test="deptFk != null" >
        #{deptFk,jdbcType=INTEGER},
      </if>
      <if test="passward != null" >
        #{passward,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.superkin.tcams.member.pojo.MemberExample" resultType="java.lang.Integer" >
    select count(*) from member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update member
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.college != null" >
        college = #{record.college,jdbcType=VARCHAR},
      </if>
      <if test="record.academy != null" >
        academy = #{record.academy,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.jointime != null" >
        joinTime = #{record.jointime,jdbcType=DATE},
      </if>
      <if test="record.positionFk != null" >
        position_fk = #{record.positionFk,jdbcType=INTEGER},
      </if>
      <if test="record.deptFk != null" >
        dept_fk = #{record.deptFk,jdbcType=INTEGER},
      </if>
      <if test="record.passward != null" >
        passward = #{record.passward,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update member
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      college = #{record.college,jdbcType=VARCHAR},
      academy = #{record.academy,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      joinTime = #{record.jointime,jdbcType=DATE},
      position_fk = #{record.positionFk,jdbcType=INTEGER},
      dept_fk = #{record.deptFk,jdbcType=INTEGER},
      passward = #{record.passward,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.superkin.tcams.member.pojo.Member" >
    update member
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="college != null" >
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="academy != null" >
        academy = #{academy,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="jointime != null" >
        joinTime = #{jointime,jdbcType=DATE},
      </if>
      <if test="positionFk != null" >
        position_fk = #{positionFk,jdbcType=INTEGER},
      </if>
      <if test="deptFk != null" >
        dept_fk = #{deptFk,jdbcType=INTEGER},
      </if>
      <if test="passward != null" >
        passward = #{passward,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.superkin.tcams.member.pojo.Member" >
    update member
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      academy = #{academy,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      joinTime = #{jointime,jdbcType=DATE},
      position_fk = #{positionFk,jdbcType=INTEGER},
      dept_fk = #{deptFk,jdbcType=INTEGER},
      passward = #{passward,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>