<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superkin.tcams.activity.mapper.LargeActivityMapper" >
  <resultMap id="BaseResultMap" type="com.superkin.tcams.activity.pojo.LargeActivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="member_fk" property="memberFk" jdbcType="INTEGER" />
    <result column="sponsor" property="sponsor" jdbcType="VARCHAR" />
    <result column="undertaker" property="undertaker" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="VARCHAR" />
    <result column="guest" property="guest" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="starttime" property="starttime" jdbcType="DATE" />
    <result column="endtime" property="endtime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <association property="member" column="member_fk" javaType="com.superkin.tcams.member.pojo.Member" select="com.superkin.tcams.member.mapper.MemberMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, target, place, member_fk, sponsor, undertaker, money, guest, status, starttime, 
    endtime, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.superkin.tcams.activity.pojo.LargeActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from large_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from large_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from large_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.superkin.tcams.activity.pojo.LargeActivityExample" >
    delete from large_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.superkin.tcams.activity.pojo.LargeActivity" >
    insert into large_activity (id, title, target, 
      place, member_fk, sponsor, 
      undertaker, money, guest, 
      status, starttime, endtime, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, 
      #{place,jdbcType=VARCHAR}, #{memberFk,jdbcType=INTEGER}, #{sponsor,jdbcType=VARCHAR}, 
      #{undertaker,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{guest,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{starttime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.superkin.tcams.activity.pojo.LargeActivity" >
    insert into large_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="memberFk != null" >
        member_fk,
      </if>
      <if test="sponsor != null" >
        sponsor,
      </if>
      <if test="undertaker != null" >
        undertaker,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="guest != null" >
        guest,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="memberFk != null" >
        #{memberFk,jdbcType=INTEGER},
      </if>
      <if test="sponsor != null" >
        #{sponsor,jdbcType=VARCHAR},
      </if>
      <if test="undertaker != null" >
        #{undertaker,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="guest != null" >
        #{guest,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.superkin.tcams.activity.pojo.LargeActivityExample" resultType="java.lang.Integer" >
    select count(*) from large_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update large_activity
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.target != null" >
        target = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.place != null" >
        place = #{record.place,jdbcType=VARCHAR},
      </if>
      <if test="record.memberFk != null" >
        member_fk = #{record.memberFk,jdbcType=INTEGER},
      </if>
      <if test="record.sponsor != null" >
        sponsor = #{record.sponsor,jdbcType=VARCHAR},
      </if>
      <if test="record.undertaker != null" >
        undertaker = #{record.undertaker,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=VARCHAR},
      </if>
      <if test="record.guest != null" >
        guest = #{record.guest,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.starttime != null" >
        starttime = #{record.starttime,jdbcType=DATE},
      </if>
      <if test="record.endtime != null" >
        endtime = #{record.endtime,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update large_activity
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      target = #{record.target,jdbcType=VARCHAR},
      place = #{record.place,jdbcType=VARCHAR},
      member_fk = #{record.memberFk,jdbcType=INTEGER},
      sponsor = #{record.sponsor,jdbcType=VARCHAR},
      undertaker = #{record.undertaker,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=VARCHAR},
      guest = #{record.guest,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      starttime = #{record.starttime,jdbcType=DATE},
      endtime = #{record.endtime,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.superkin.tcams.activity.pojo.LargeActivity" >
    update large_activity
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="memberFk != null" >
        member_fk = #{memberFk,jdbcType=INTEGER},
      </if>
      <if test="sponsor != null" >
        sponsor = #{sponsor,jdbcType=VARCHAR},
      </if>
      <if test="undertaker != null" >
        undertaker = #{undertaker,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="guest != null" >
        guest = #{guest,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.superkin.tcams.activity.pojo.LargeActivity" >
    update large_activity
    set title = #{title,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      member_fk = #{memberFk,jdbcType=INTEGER},
      sponsor = #{sponsor,jdbcType=VARCHAR},
      undertaker = #{undertaker,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      guest = #{guest,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=DATE},
      endtime = #{endtime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>